*.md
bin/
cover.out
*.tar.gz

# Terraform
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
.terraform.lock.hcl
**/.terraform.lock.hcl
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Cloud CLI SDKs (instalados localmente, não devem ir pro repositório)
infra/gcp/google-cloud-sdk/
infra/gcp/google-cloud-cli-*.tar.gz
infra/aws/aws-cli/
infra/azure/azure-cli/
